In [1]:
import numpy as np
import pandas as pd
import datetime
from WindPy import w
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2017 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [3]:
CODE = '000016.SH'
TCODE = 'H00016.SH'
start_date, end_date = '2018-01-01', '2018-10-31'
end_year = '2018-12-31'

## 计算估值和价格变动

In [4]:
data = w.wss(CODE, 'close,estpe_fy1,estpe_fy2', "tradeDate=%s"%(start_date))

In [5]:
data

.ErrorCode=0
.Codes=[000016.SH]
.Fields=[CLOSE,ESTPE_FY1,ESTPE_FY2]
.Times=[20181112 10:43:18]
.Data=[[2860.4363],[33.5391],[26.7936]]

In [6]:
sdf = pd.DataFrame(np.array(data.Data).T, index=[start_date], columns=data.Fields)

In [7]:
sdf

                CLOSE  ESTPE_FY1  ESTPE_FY2
2018-01-01  2860.4363    33.5391    26.7936

In [8]:
days = (datetime.datetime.strptime(end_year, '%Y-%m-%d') - datetime.datetime.strptime(start_date, '%Y-%m-%d')).days

In [9]:
days

364

In [10]:
start_valuation = sdf['ESTPE_FY1'][0] * days / 365 + sdf['ESTPE_FY2'][0] * (365 - days) / 365

In [11]:
start_valuation

33.52061917808219

In [12]:
data = w.wss(CODE, 'close,estpe_fy1,estpe_fy2', "tradeDate=%s"%(end_date))

In [13]:
edf = pd.DataFrame(np.array(data.Data).T, index=[end_date], columns=data.Fields)

In [14]:
edf

                CLOSE  ESTPE_FY1  ESTPE_FY2
2018-10-31  2451.1207    22.3123    20.4806

In [78]:
days = (datetime.datetime.strptime(end_year, '%Y-%m-%d') - datetime.datetime.strptime(end_date, '%Y-%m-%d')).days

In [79]:
end_valuation = edf['ESTPE_FY1'][0] * days / 365 + edf['ESTPE_FY2'][0] * (365 - days) / 365

In [80]:
end_valuation

20.786719726027396

In [81]:
valuation_ret = end_valuation / start_valuation - 1

In [82]:
valuation_ret

-0.3798825846385615

In [83]:
price_ret = edf['CLOSE'][0] / sdf['CLOSE'][0] - 1

In [84]:
price_ret

-0.14309551308658752

## 盈利变动

In [44]:
start_earning = sdf['CLOSE'][0] / start_valuation
end_earning = edf['CLOSE'][0] / end_valuation

In [45]:
earning_ret = end_earning / start_earning - 1

In [46]:
earning_ret

0.42828767795992473

## 全回报收益率

In [47]:
data = w.wss(TCODE, 'close', 'tradeDate=%s'%(start_date))

In [48]:
start_close = data.Data[0][0]

In [49]:
data = w.wss(TCODE, 'close', 'tradeDate=%s'%(end_date))

In [50]:
end_close = data.Data[0][0]

In [51]:
end_close, start_close

(3381.7116, 3834.712)

In [52]:
total_ret = end_close / start_close - 1

In [53]:
total_ret

-0.11813153112932595

## 红利变动

In [54]:
dividend_ret = total_ret - price_ret

In [55]:
dividend_ret

0.09944799523864123